.box{
    border: dotted blue 2px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.box > div{
    border: solid blue 2px;
    border-radius: 5px;
    justify-content:end;
}
.a{
    flex-basis: 100px;
    align-self: center;
}
.b{
    flex-basis: 100px;
}
.c{
    flex-basis: 100px;
}
.d{
    flex: 0 0 100px;
}
.e{
    flex: 0 0 100px;
}
.f{
    flex: 0 0 100px;
    justify-content: end;
}